# Your local dev DB (or production connection)
DATABASE_URL_UNPOOLED="postgresql://user:password@hostname:5432/dbname"

# Sage HR Integration API
SAGE_HR_SUBDOMAIN="techery"
SAGE_HR_API_TOKEN=""
SAGE_HR_BASE_URL="https://techery.sage.hr/api"
